body {
  padding: 0;
  margin: 0;
  background: hsla(186, 33%, 94%, 1);
  background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
}

a {
  text-decoration: none;
  color: rgba(0, 157, 255, 0.776);
  color: inherit;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 20%;
}

.content {
  flex: 100%;
}

/* .footer {
  flex: 20%;
} */

.challenge {
  border: 1px solid black;
  margin: 10px;
  list-style: none;
  color: black;
}

.detail {
  padding-left: 150px;
}

.button {
  cursor: pointer;
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
}

.fade-enter {
  opacity: 0;
  transition: opacity 300ms;
  pointer-events: none;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit-active {
  opacity: 0;
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;
}
