body {
  padding: 0;
  margin: 0;
}

.challenge {
  border: 1px solid black;
  margin: 10px;
  list-style: none;
  color: black;
}

.detail {
  padding-left: 150px;
}

.button {
  cursor: pointer;
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
}
